body {
	background-color: #0d1f25!important;
}

button {
	outline: none!important;
}

.carousel-control-prev-icon,
.carousel-control-next {
    cursor: pointer;
}

.modal-xxl .modal-dialog {
   width: 1030px!important;
   max-width: 1030px!important;
}


.modal-xxl2 .modal-dialog {
   width: 780px!important;
   max-width: 780px!important;
}

.map-container-inner
{
	width: 100% ;
	height: 400px;
}