@model string
@{
    Layout = null;
    ViewBag.Title = "Ресторан «Мушу»";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Ресторан «Мушу»</title>

    <link href="~/Scripts/styles.21117ccdfcb9318a42be.css" rel="stylesheet" />
</head>
<body>
    <app-root externalPath="@Url.Action("Menu", "Home")"></app-root>
    <footer></footer>
    <script type="text/javascript" src="~/Scripts/runtime.a66f828dca56eeb90e02.js"></script>
    <script type="text/javascript" src="~/Scripts/polyfills.af787ecd062ee36ad18c.js"></script>
    <script type="text/javascript" src="~/Scripts/main.1b54366d66d4cb51d647.js"></script>
</body>
</html>