
@model string
@{
    Layout = null;
    ViewBag.Title = "Ресторан «Мушу»";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Ресторан «Мушу»</title>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/Site.css"/>
    <link rel="stylesheet" type="text/css" href="http://kenwheeler.github.io/slick/slick/slick-theme.css" />
</head>
<body>

    <div class="carousel-menu">
        <img src="~/Content/menu/Menu_dimitrovgrad-001.jpg" />
        <img src="~/Content/menu/Menu_dimitrovgrad-002.jpg" />
        <img src="~/Content/menu/Menu_dimitrovgrad-003.jpg" />
        <img src="~/Content/menu/Menu_dimitrovgrad-004.jpg" />
        <img src="~/Content/menu/Menu_dimitrovgrad-005.jpg" />
        <img src="~/Content/menu/Menu_dimitrovgrad-006.jpg" />
        <img src="~/Content/menu/Menu_dimitrovgrad-007.jpg" />
        <img src="~/Content/menu/Menu_dimitrovgrad-008.jpg" />
        <img src="~/Content/menu/Menu_dimitrovgrad-009.jpg" />
        <img src="~/Content/menu/Menu_dimitrovgrad-010.jpg" />
        <img src="~/Content/menu/Menu_dimitrovgrad-011.jpg" />
        <img src="~/Content/menu/Menu_dimitrovgrad-012.jpg" />
        <img src="~/Content/menu/Menu_dimitrovgrad-013.jpg" />
        <img src="~/Content/menu/Menu_dimitrovgrad-014.jpg" />
        <img src="~/Content/menu/Menu_dimitrovgrad-015.jpg" />
        <img src="~/Content/menu/Menu_dimitrovgrad-016.jpg" />
        <img src="~/Content/menu/Menu_dimitrovgrad-017.jpg" />
        <img src="~/Content/menu/Menu_dimitrovgrad-018.jpg" />
        <img src="~/Content/menu/Menu_dimitrovgrad-019.jpg" />
        <img src="~/Content/menu/Menu_dimitrovgrad-020.jpg" />
        <img src="~/Content/menu/Menu_dimitrovgrad-021.jpg" />
        <img src="~/Content/menu/Menu_dimitrovgrad-022.jpg" />
        <img src="~/Content/menu/Menu_dimitrovgrad-023.jpg" />
        <img src="~/Content/menu/Menu_dimitrovgrad-024.jpg" />
        <img src="~/Content/menu/Menu_dimitrovgrad-025.jpg" />
        <img src="~/Content/menu/Menu_dimitrovgrad-026.jpg" />
        <img src="~/Content/menu/Menu_dimitrovgrad-027.jpg" />
        <img src="~/Content/menu/Menu_dimitrovgrad-028.jpg" />
        <img src="~/Content/menu/Menu_dimitrovgrad-029.jpg" />
        <img src="~/Content/menu/Menu_dimitrovgrad-030.jpg" />
        <img src="~/Content/menu/Menu_dimitrovgrad-031.jpg" />
        <img src="~/Content/menu/Menu_dimitrovgrad-032.jpg" />
        <img src="~/Content/menu/Menu_dimitrovgrad-033.jpg" />
        <img src="~/Content/menu/Menu_dimitrovgrad-034.jpg" />
        <img src="~/Content/menu/Menu_dimitrovgrad-035.jpg" />
        <img src="~/Content/menu/Menu_dimitrovgrad-036.jpg" />
        <img src="~/Content/menu/Menu_dimitrovgrad-037.jpg" />
        <img src="~/Content/menu/Menu_dimitrovgrad-038.jpg" />
        <img src="~/Content/menu/Menu_dimitrovgrad-039.jpg" />
        <img src="~/Content/menu/Menu_dimitrovgrad-040.jpg" />
        <img src="~/Content/menu/Menu_dimitrovgrad-041.jpg" />
        <img src="~/Content/menu/Menu_dimitrovgrad-042.jpg" />
        <img src="~/Content/menu/Menu_dimitrovgrad-043.jpg" />
        <img src="~/Content/menu/Menu_dimitrovgrad-044.jpg" />
        <img src="~/Content/menu/Menu_dimitrovgrad-045.jpg" />
        <img src="~/Content/menu/Menu_dimitrovgrad-046.jpg" />
        <img src="~/Content/menu/Menu_dimitrovgrad-047.jpg" />
        <img src="~/Content/menu/Menu_dimitrovgrad-048.jpg" />
        <img src="~/Content/menu/Menu_dimitrovgrad-049.jpg" />
        <img src="~/Content/menu/Menu_dimitrovgrad-050.jpg" />
        <img src="~/Content/menu/Menu_dimitrovgrad-051.jpg" />
        <img src="~/Content/menu/Menu_dimitrovgrad-052.jpg" />
        <img src="~/Content/menu/Menu_dimitrovgrad-053.jpg" />
        <img src="~/Content/menu/Menu_dimitrovgrad-054.jpg" />
        <img src="~/Content/menu/Menu_dimitrovgrad-055.jpg" />
        <img src="~/Content/menu/Menu_dimitrovgrad-056.jpg" />
        <img src="~/Content/menu/Menu_dimitrovgrad-057.jpg" />
        <img src="~/Content/menu/Menu_dimitrovgrad-058.jpg" />
        <img src="~/Content/menu/Menu_dimitrovgrad-059.jpg" />
        <img src="~/Content/menu/Menu_dimitrovgrad-060.jpg" />
        <img src="~/Content/menu/Menu_dimitrovgrad-061.jpg" />
        <img src="~/Content/menu/Menu_dimitrovgrad-062.jpg" />
        <img src="~/Content/menu/Menu_dimitrovgrad-063.jpg" />
        <img src="~/Content/menu/Menu_dimitrovgrad-064.jpg" />
        <img src="~/Content/menu/Menu_dimitrovgrad-065.jpg" />
        <img src="~/Content/menu/Menu_dimitrovgrad-066.jpg" />
        <img src="~/Content/menu/Menu_dimitrovgrad-067.jpg" />
        <img src="~/Content/menu/Menu_dimitrovgrad-068.jpg" />
        <img src="~/Content/menu/Menu_dimitrovgrad-069.jpg" />
        <img src="~/Content/menu/Menu_dimitrovgrad-070.jpg" />
        <img src="~/Content/menu/Menu_dimitrovgrad-071.jpg" />
        <img src="~/Content/menu/Menu_dimitrovgrad-072.jpg" />
        <img src="~/Content/menu/Menu_dimitrovgrad-073.jpg" />
        <img src="~/Content/menu/Menu_dimitrovgrad-074.jpg" />
    </div>

    <script type="text/javascript" src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script type="text/javascript" src="~/Scripts/slider-for-menu.js"></script>
</body>
</html>