#halvatable1 {
	left: 20px;
	top: 30px;
	height: 70px;
	line-height: 70px;
	width: 150px;
	position: absolute;
	text-align: center;
}

#halvatable2 {
	right: 20px;
	top: 30px;
	height: 70px;
	line-height: 70px;
	width: 150px;
	position: absolute;
	text-align: center;
}

#halvatable3 {
	left: 20px;
	top: 130px;
	height: 50px;
	line-height: 50px;
	width: 150px;
	position: absolute;
	text-align: center;
}

#halvatable4 {
	right: 20px;
	top: 130px;
	height: 50px;
	line-height: 50px;
	width: 150px;
	position: absolute;
	text-align: center;
}

#halvatable5 {
	left: 20px;
	top: 210px;
	height: 50px;
	line-height: 50px;
	width: 150px;
	position: absolute;
	text-align: center;
}

#halvatable6 {
	right: 20px;
	top: 210px;
	height: 50px;
	line-height: 50px;
	width: 150px;
	position: absolute;
	text-align: center;
}

#halvatable7 {
	left: 20px;
	top: 290px;
	height: 50px;
	line-height: 50px;
	width: 150px;
	position: absolute;
	text-align: center;
}

#halvatable8 {
	right: 20px;
	top: 290px;
	height: 50px;
	line-height: 50px;
	width: 150px;
	position: absolute;
	text-align: center;
}

#halvatable9 {
	left: 20px;
	top: 370px;
	height: 50px;
	line-height: 50px;
	width: 150px;
	position: absolute;
	text-align: center;
}

#halvatable10 {
	right: 20px;
	top: 370px;
	height: 50px;
	line-height: 50px;
	width: 150px;
	position: absolute;
	text-align: center;
}

#halvatable11 {
	left: 20px;
	top: 450px;
	height: 50px;
	line-height: 50px;
	width: 150px;
	position: absolute;
	text-align: center;
}

#halvatable12 {
	right: 20px;
	top: 450px;
	height: 50px;
	line-height: 50px;
	width: 150px;
	position: absolute;
	text-align: center;
}
