#pizzatable1 {
	left: 10px;
	bottom: 70px;
	height: 70px;
	line-height: 70px;
	width: 130px;
	position: absolute;
	text-align: center;
}

#pizzatable2 {
	left: 10px;
	bottom: 270px;
	height: 70px;
	line-height: 70px;
	width: 190px;
	position: absolute;
	text-align: center;
}

#pizzatable3 {
	left: 250px;
	bottom: 70px;
	height: 40px;
	line-height: 40px;
	width: 50px;
	position: absolute;
	text-align: center;
}

#pizzatable4 {
	left: 250px;
	bottom: 160px;
	height: 40px;
	line-height: 40px;
	width: 50px;
	position: absolute;
	text-align: center;
}

#pizzatable5 {
	left: 380px;
	bottom: 70px;
	height: 40px;
	line-height: 40px;
	width: 80px;
	position: absolute;
	text-align: center;
}

#pizzatable6 {
	left: 380px;
	bottom: 160px;
	height: 40px;
	line-height: 40px;
	width: 80px;
	position: absolute;
	text-align: center;
}

#pizzatable7 {
	left: 300px;
	bottom: 290px;
	height: 90px;
	line-height: 90px;
	width: 90px;
	position: absolute;
	text-align: center;
}

#pizzatable8 {
	left: 470px;
	bottom: 290px;
	height: 90px;
	line-height: 90px;
	width: 90px;
	position: absolute;
	text-align: center;
}

#pizzatable9 {
	left: 640px;
	bottom: 290px;
	height: 90px;
	line-height: 90px;
	width: 90px;
	position: absolute;
	text-align: center;
}

#pizzatable10 {
	left: 560px;
	bottom: 160px;
	height: 40px;
	line-height: 40px;
	width: 170px;
	position: absolute;
	text-align: center;
}

#pizzatable11 {
	left: 560px;
	bottom: 30px;
	height: 40px;
	line-height: 40px;
	width: 170px;
	position: absolute;
	text-align: center;
}

#pizzatable12 {
	left: 200px;
	bottom: 490px;
	height: 110px;
	line-height: 110px;
	width: 90px;
	position: absolute;
	text-align: center;
}

#pizzatable13 {
	left: 340px;
	bottom: 490px;
	height: 110px;
	line-height: 110px;
	width: 90px;
	position: absolute;
	text-align: center;
}

#pizzatable14 {
	left: 480px;
	bottom: 490px;
	height: 110px;
	line-height: 110px;
	width: 90px;
	position: absolute;
	text-align: center;
}

#pizzatable15 {
	left: 620px;
	bottom: 490px;
	height: 110px;
	line-height: 110px;
	width: 90px;
	position: absolute;
	text-align: center;
}
