
#table1 {
	top: 10px;
	right: 10px;
	width: 150px;
	height: 60px;
	position: absolute;
	text-align: center;
	line-height: 60px;
}

#table2 {
	top: 85px;
	right: 10px;
	width: 150px;
	height: 40px;
	position: absolute;
	text-align: center;
	line-height: 40px;
}


#table3 {
	top: 140px;
	right: 10px;
	width: 150px;
	height: 40px;
	position: absolute;
	text-align: center;
	line-height: 40px;
}


#table4 {
	top: 195px;
	right: 10px;
	width: 150px;
	height: 40px;
	position: absolute;
	text-align: center;
	line-height: 40px;
}


#table5 {
	top: 250px;
	right: 10px;
	width: 150px;
	height: 40px;
	position: absolute;
	text-align: center;
	line-height: 40px;
}

#table6 {
	top: 305px;
	right: 10px;
	width: 150px;
	height: 40px;
	position: absolute;
	text-align: center;
	line-height: 40px;
}

#table7 {
	top: 360px;
	right: 10px;
	width: 200px;
	height: 40px;
	position: absolute;
	text-align: center;
	line-height: 40px;
}

#table8 {
	top: 415px;
	right: 10px;
	width: 150px;
	height: 40px;
	position: absolute;
	text-align: center;
	line-height: 40px;
}


#table9 {
	top: 470px;
	right: 10px;
	width: 200px;
	height: 40px;
	position: absolute;
	text-align: center;
	line-height: 40px;
}

#table10 {
	top: 525px;
	right: 10px;
	width: 200px;
	height: 40px;
	position: absolute;
	text-align: center;
	line-height: 40px;
}


#table11 {
	top: 525px;
	right: 290px;
	width: 120px;
	height: 40px;
	position: absolute;
	text-align: center;
	line-height: 40px;
}


#table12 {
	top: 475px;
	right: 490px;
	width: 80px;
	height: 90px;
	position: absolute;
	text-align: center;
	line-height: 90px;
}


#table13 {
	top: 475px;
	right: 630px;
	width: 80px;
	height: 90px;
	position: absolute;
	text-align: center;
	line-height: 90px;
}

#table14 {
	top: 475px;
	right: 760px;
	width: 80px;
	height: 90px;
	position: absolute;
	text-align: center;
	line-height: 90px;
}

#table15 {
	top: 475px;
	right: 890px;
	width: 80px;
	height: 90px;
	position: absolute;
	text-align: center;
	line-height: 90px;
}


#table16 {
	top: 310px;
	right: 890px;
	width: 80px;
	height: 90px;
	position: absolute;
	text-align: center;
	line-height: 90px;
}

#table17 {
	top: 310px;
	right: 760px;
	width: 80px;
	height: 90px;
	position: absolute;
	text-align: center;
	line-height: 90px;
}

#table18 {
	top: 310px;
	right: 630px;
	width: 80px;
	height: 90px;
	position: absolute;
	text-align: center;
	line-height: 90px;
}

#table19 {
	top: 310px;
	right: 490px;
	width: 80px;
	height: 90px;
	position: absolute;
	text-align: center;
	line-height: 90px;
}


/********************/


#table20 {
	top: 250px;
	right: 290px;
	width: 120px;
	height: 40px;
	position: absolute;
	text-align: center;
	line-height: 40px;
}

#table21 {
	top: 195px;
	right: 290px;
	width: 120px;
	height: 40px;
	position: absolute;
	text-align: center;
	line-height: 40px;
}

#table22 {
	top: 140px;
	right: 290px;
	width: 120px;
	height: 40px;
	position: absolute;
	text-align: center;
	line-height: 40px;
}

#table23 {
	top: 85px;
	right: 290px;
	width: 120px;
	height: 40px;
	position: absolute;
	text-align: center;
	line-height: 40px;
}


#table24 {
	top: 10px;
	right: 230px;
	width: 60px;
	height: 60px;
	position: absolute;
	text-align: center;
	line-height: 60px;
}
